# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for storing local data.
.DS_Store
node_modules/
.vscode/
.idea/
build/
dist/

# Environment variables
.env
.env.local

# End of Gitignore