.row {
    margin-bottom: 5px;
}

.row-title {
    color: white;
    font-size: 1.3rem;
    margin: 10px 10px;
}

.row-poster {
    width: 10px;
    height: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.row-posters::-webkit-scrollbar {
    height: 8px;
}

.row-posters::-webkit-scrollbar-track {
    background: #333;
}

.row-posters::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.row-poster {
    width: 90px;
    height: 90px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.row-poster:hover {
    transform: scale(1.1);
}